
body, html {
    padding: 0;
    margin: 0;
    display: grid;
}

h1 {
    grid-column: 2;
}


.grid {
    padding: 0;
    margin: 0;
    height: 100vh;
    display: grid;
    grid: repeat(2, 50%) / repeat(2,50%)
}

.button1 {
    grid-column: 1;
    grid-row: 1;
    background: #ff3859;
}

.button2 {
    grid-column: 2;
    grid-row: 1;
    background: #45a2e5;
}

.button3 {
    grid-column: 1;
    grid-row: 2;
    background: #fec009;
}

.button4 {
    grid-column: 2;
    grid-row: 2;
    background: #67be39;
}

button#btnInsert {
    grid-column: 2;
    width: 100vh;

}
form {
    grid-column: 2

}