<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="/static/buttons.js"></script>
    <link href="/static/style.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<section class="grid">
    <button id="button1" class="button1" onclick="pressed('1')">{{ option1 }}</button>
    <button id="button2" class="button2" onclick="pressed('2')">{{ option2 }}</button>
    <button id="button3" class="button3" onclick="pressed('3')">{{ option3 }}</button>
    <button id="button4" class="button4" onclick="pressed('4')">{{ option4 }}</button>
</section>

</body>
</html>